<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tasks Manager</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <h2 class="p-2 m-2 text-2xl font-bold">Completed Tasks:</h2>
    <ul class="list-disc p-4 m-4">
      {% for i in completed %}
      <li>{{forloop.counter}}.&nbsp; {{i}}</li>
      {% endfor %}
    </ul>
  </body>
</html>
